body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #042425;
    height: 100px;
}

.logo {
    background-image: url(../images/logo-QuizzSA.png);
    background-size: 40%;
    height: 90%;
    width: 10%;
    margin-left: 30px;
    background-repeat: no-repeat;
}

.content {
    background-image: url(../images/img-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

.header-text {
    color: white;
    position: absolute;
    top: 25px;
    left: 38%;
    font-size: 30px;
    font-weight: bold;
}

.container {
    position: relative;
    top: 20%;
    left: 30%;
    height: 60%;
    width: 40%;
    background-color: white;
}

.container-header {
    height: 100px;
    background-color: #3addd6;
}

.title {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 40px;
}

.input-form {
    height: 60px;
    margin: 10px 35px;
}

.form-control {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 5px;
}

.error-form {
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.icon-form {
    background-image: url(../icones/ic-login.png);
    background-repeat: no-repeat;
    height: 35px;
    width: 30px;
    position: relative;
    top: 50px;
    left: 96%;
}

.icon-form-login {
    background-image: url(../icones/ic-login.png);
    background-repeat: no-repeat;
}

.icon-form-pwd {
    background-image: url(../icones/ic-password.png);
    background-repeat: no-repeat;
}

.btn-form {
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #3addd6;
    padding: 10px;
    color: white;
    background-color: #3addd6;
    font-size: 20px;
    font-weight: bold;
}

.link-form {
    margin-left: 25px;
    text-decoration: none;
    color: silver;
    font-size: 20px;
    font-weight: bold;
}


/* mise en forme page joueur */

.header-joueur {
    position: relative;
    top: 1%;
    left: 2.3%;
    height: 100px;
    width: 95%;
    background-color: #51bfd0;
}

.avatar-container {
    float: left;
    margin-left: 10px;
}

.avatar-joueur {
    position: relative;
    top: 4px;
    left: 15px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 2px solid white;
}

.joueur-informations {
    margin-top: 5px;
    text-align: center;
}

.header-joueur-text {
    color: white;
    position: absolute;
    top: 15px;
    left: 23%;
    font-size: 25px;
    font-weight: bold;
}

.btn {
    float: right;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #3addd6;
    background-color: #3addd6;
}

a {
    text-decoration: none;
    color: white;
    border: none;
}

.header-joueur>button,
.header-admin>button {
    float: right;
    margin-right: 40px;
    color: white;
    background-color: #3addd6;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 35px;
}

.joueur-body {
    position: relative;
    left: 2.3%;
    height: 580px;
    width: 95%;
    background-color: #818181;
}

.game_back {
    position: relative;
    border-radius: 5px;
    top: 2%;
    left: 2.3%;
    height: 480px;
    width: 95%;
    background-color: #c5c7c7;
}

.meilleur-score {
    float: right;
    width: 240px;
    margin-top: 60px;
    margin-right: 20px;
    height: 80%;
    border-radius: 10px;
    background-color: white;
}

.tablinks {
    color: #3addd6;
}


/* mise en forme page admin */

.header-admin {
    position: relative;
    top: 1%;
    left: 2.3%;
    height: 100px;
    width: 95%;
    background-color: #51bfd0;
}

.header-admin-text {
    color: white;
    position: absolute;
    top: 30px;
    left: 28%;
    font-size: 25px;
    font-weight: bold;
}

.menu {
    float: left;
    width: 30%;
    margin-top: 50px;
    margin-left: 15px;
    position: relative;
    height: 450px;
    background-color: white;
    border-radius: 10px;
}

.top-menu {
    height: 145px;
    background-image: linear-gradient(rgb(253, 253, 253), rgb(117, 226, 245));
    border-radius: 10px 10px 0 0;
}

.avatar-admin-container {
    float: left;
}

#moncercle {
    position: relative;
    left: 25px;
    top: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #818181;
    float: left;
}

#AvatarCercle {
    position: relative;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#PrenomNom {
    position: relative;
    top: 40px;
}

#p1 {
    text-align: center;
    margin-right: 100px;
    margin-bottom: 0;
}

#p2 {
    text-align: center;
    /* margin-top: 40px; */
    margin-right: 60px;
    margin-top: 2px;
    text-transform: uppercase;
}

.lien {
    width: 100%;
    height: 295px;
    border-radius: 0 0 10px 10px;
}

.liens {
    width: 100%;
    height: 23%;
    margin-top: 5px;
    color: #707271;
}

.liens:hover {
    width: 97.8%;
    border-left: 7px solid green;
    background-color: #dfdfdf;
}

.liens>p {
    float: left;
    margin-left: 30px;
    line-height: 1;
    font-size: 20px;
}

.img-place,
.img-place-deux {
    float: right;
    height: 50px;
    margin-right: 25px;
    width: 50px;
    margin-top: 10px;
    background-image: url(../icones/ic-liste.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-place-deux {
    background-image: url(../icones/ic-ajout.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-place:active,
.img-place-deux:active {
    float: right;
    height: 50px;
    margin-right: 25px;
    width: 50px;
    margin-top: 10px;
    background-image: url(../icones/ic-liste-active.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-place-deux:active {
    background-image: url(../icones/ic-ajout-active.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Inscription  */


/* admin inscription */

.rightliste {
    float: right;
    width: 60%;
    height: 550px;
    background-color: white;
    position: relative;
    right: 3%;
    top: 1%;
    border-radius: 10px;
}


/* liste question */

#nombreQuestion {
    margin-top: 7px;
    width: 100%;
    height: 60px;
}

.right {
    float: right;
    width: 60%;
    height: 550px;
    background-color: white;
    position: relative;
    right: 3%;
    top: 1%;
    border-radius: 10px;
}

#nombreQuestion>form {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 25px;
}

#nnbre {
    margin-right: 8px;
}

#inputs {
    width: 45px;
    height: 23px;
    margin-right: 8px;
}

#inputOk {
    font-size: 18px;
    height: 35px;
    background-color: #20bfca;
    border: none;
    color: white;
    border-radius: 5px;
}

.question-body {
    border: 2px solid silver;
    border-radius: 10px;
    width: 93%;
    height: 75%;
    position: relative;
    left: 3%;
}

.paginate-zone {
    width: 100%;
    height: 50px;
    background-color: #d6d4d4;
    position: relative;
    top: 17px;
    border-radius: 0 0 10px 10px;
}


/* liste joueur */

.liste-body {
    /* border: 2px solid silver; */
    border-radius: 10px;
    width: 75%;
    height: 75%;
    position: relative;
    left: 12%;
}

h2 {
    position: relative;
    left: 30%;
}

.paginate-liste-zone {
    width: 100%;
    height: 50px;
    position: relative;
    top: 17px;
    border-radius: 0 0 10px 10px;
}

.paginate-liste-zone>button {
    float: right;
    position: relative;
    right: 12%;
    top: -12px;
}